.inicio {
    width: 100%;
    height: 450px;
    margin-top: 20px;
    background-image: url('/img/hotFond.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .inicio {
        width: 100%;
        height: 300px;
        margin-top: 10px;
        background-position: center;
    }
}
